<input type="text" size="100" placeholder="Initiate a conversation">
<label for="voice">Enable Bot Voice</label><input type="checkbox" id="speech" value="Enable Voice" checked><br />
<button id="start">Start</button>

<div class="chat-wrapper">
	<div class="chatbot">1</div>
	<div class="chatbox">
		<div id="chatlog">
			hello
		</div>
	</div>
	<div class="chatbot">2</div>
</div>