<input type="text" size="100" placeholder="Initiate a conversation">
<label for="voice">Enable Bot Voice</label><input type="checkbox" id="speech" value="Enable Voice" checked><br />
<button id="start">Start</button>

<div class="chat-wrapper">
	<div class="chatbot">
		<ul>
			<li><input type="radio" name="bot1emotion" value="" checked>None</li>
			<li><input type="radio" name="bot1emotion" value="amused">Amused</li>
			<li><input type="radio" name="bot1emotion" value="angry">Angry</li>
			<li><input type="radio" name="bot1emotion" value="bored">Bored</li>
			<li><input type="radio" name="bot1emotion" value="curious">Curious</li>
			<li><input type="radio" name="bot1emotion" value="excited">Excited</li>
			<li><input type="radio" name="bot1emotion" value="flirty">Flirty</li>
			<li><input type="radio" name="bot1emotion" value="furious">Furious</li>
			<li><input type="radio" name="bot1emotion" value="happy">Happy</li>
			<li><input type="radio" name="bot1emotion" value="joking">Joking</li>
			<li><input type="radio" name="bot1emotion" value="mean">Mean</li>
			<li><input type="radio" name="bot1emotion" value="naughty">Naughty</li>
			<li><input type="radio" name="bot1emotion" value="negative">Negative</li>
			<li><input type="radio" name="bot1emotion" value="nice">Nice</li>
			<li><input type="radio" name="bot1emotion" value="rude">Rude</li>
			<li><input type="radio" name="bot1emotion" value="sad">Sad</li>
			<li><input type="radio" name="bot1emotion" value="sarcastic">Sarcastic</li>
			<li><input type="radio" name="bot1emotion" value="shy">Shy</li>
			<li><input type="radio" name="bot1emotion" value="silly">Silly</li>
			<li><input type="radio" name="bot1emotion" value="very happy">Very Happy</li>
			<li><input type="radio" name="bot1emotion" value="very sad">Very Sad</li>
		</ul>
	</div>
	</div>
	<div class="chatbox">
		<div id="chatlog"></div>
	</div>
	<div class="chatbot"></div>
</div>